{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
  <div class='content'>
    <div class="fileInputDiv">
            <form action="upload/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="amet_text">
                    하단 버튼을 통해 파일을 업로드 해주세요.(.xlsx 확장자의 파일만 가능합니다.)<br>
                    <input id="fileInput" name="fileInput" type="file" class="form-control">
                    <input type="submit" class="btn btn-success btn-lg" value="파일 제출">
                </div>
            </form>
        </div>
    </div>
</div>
<div class='container-2'>
    <div class='content-2'>
        <div class='amet_text'>
            <br/><br/>
            <h3>대회별 조회</h3>
            <br/>   
			<form action="." method="get" id="search_mode">
				<div class="container-3">
					<select name="search_mode" id="search_mode">
						<option value="2022 춘계">2022 춘계</option>
						<option value="2022 협회장기">2022 협회장기</option>
						<option value="2022 연맹회장기">2022 연맹회장기</option>
						<option value="2022 테스트">2023 테스트</option>
					</select>
				</div>
    		</form>
    		<script type="text/javascript">
    			$(document).ready(function(){
    				$("select[name=search_mode]").val("{{ match_list }}")
    				$("select[name=search_mode]").change(function () {
    				$("#search_mode").submit();
    				});
    			});
    		</script>
		</div>
    </div>
</div>
{{ df|safe }}
{% endblock %}
